body {
    background: rgba(223, 226, 228, 0.808);
    padding-top: 120px;
}

.navbar-brand{   
    font-size: 25px; 
    color: rgb(29, 81, 102) !important;
}

@media (max-width: 992px) {
    .bg-light {
        background: rgba(33, 107, 136) !important;
    }
    .navbar-brand {
        color: white !important;    
    }
    .custom-toggler.navbar-toggler {
        border-color: white !important;
    }
    .nav-link {
        color: white !important
    }
}

h3 {
    color: rgb(29, 81, 102) !important;
}

h5 {
    color: rgb(29, 81, 102);
}

#temp {
    float: left;
    margin-right: 10px;
}

.hover {
    background-color: rgba(33, 107, 136, 0.418);
    display: inline-block;
}

.hover img:hover {
    opacity: .5;
}
