body {
    background: rgba(223, 226, 228, 0.808);
    padding-top: 120px;
}

.navbar-brand{   
    font-size: 25px; 
}

#summary {
    position: relative;
    right: 45px; 
}

#temp {
    float: left;
    margin-right: 10px;
}

#visualization {
    position: relative;
    left: 13px;
}

.brightness {
    background-color: rgba(33, 107, 136, 0.418);
    display: inline-block
}

.brightness img:hover {
    opacity: .5;
}
