body {
    background: rgba(223, 226, 228, 0.808);
    padding-top: 120px;
    
    
}

.navbar-brand{   
    font-size: 25px; 
}

#summary {
    position: relative;
    right: 45px;
    
}

#visualization {
    position: relative;
    left: 13px; 
    
}
